<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  
  <!-- Optional JavaScript for Bootstrap components -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/loguser.js"></script>
</head>

<body>
  <% include ./partials/header-loginpage %>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">MINiMaliSt MAps</h1>
      <p class="lead text-muted">Customizable maps remembering spaces of rest and respite in the city </p>
      <p>
        <!-- <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-primary my-2">Main call to action</a>
                <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-secondary my-2">Secondary action</a> -->
      </p>
    </div>
  </section>
  <section id="login area"></section>
  <div class="container">
      <div class="form-group">
        <form>
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="username" placeholder="Please enter name">
        
          <small id="emailHelp" class="form-text text-muted">This name will only be used to associate that id with maps you created and contributed to</small>
          <button type="submit" class="btn btn-outline-info">Submit</button>
      </form>
    </div>
      
  </div>
  </section>
</body>

</html>
