<!DOCTYPE html>
<!-- saved from url=(0049)https://getbootstrap.com/docs/4.0/examples/album/ -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="./style/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./style/album.css" rel="stylesheet">
</head>

<body>
  <% include ./partials/header %>
  <p> test for mymaps </p>
</body>